{
    http_port 80
}

mapserver.localhost {
    reverse_proxy mapproxy-server:8080 {
        header_up Host {host}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
    }
    header Cache-Control "public, max-age=60, s-maxage=60"
}


# Openelevation API /oeapi
# Weather Opservation API /woamf

api.localhost {
    handle_path /oeapi/* {
        rewrite * /api{path}
        reverse_proxy elevation-api:8080
    }

    @oeapi path /oeapi/*
    header @oeapi Cache-Control "public, max-age=31536000, s-maxage=31536000, immutable"
}